{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">

    <div class="auth-container">
        <div class="auth-box">
            <h2>Reset Password 🔒</h2>
            <p>Enter your old password to set a new one.</p>

            <form method="POST">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %}; margin-bottom: 10px;">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                {% for field in form %}
                <div class="input-group">
                    {{ field }}
                    {% if field.errors %}
                    <small style="color: red;">{{ field.errors.0 }}</small>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn">Update Password</button>
            </form>

        </div>
    </div>
</body>

</html>