{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="{% block charset %}utf-8{% endblock %}">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

  <!-- Favicons -->
  {% if clinic and clinic.logo %}
  <link href="{{ clinic.logo.url }}" rel="icon">
  <link href="{{ clinic.logo.url }}" rel="apple-touch-icon">
  {% else %}
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  {% endif %}

  <!-- Fonts -->
  {% block fonts %}
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  {% endblock %}

  <!-- Vendor CSS Files -->
  {% block vendor_css %}
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  {% endblock %}

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

  {% include 'header.html' %}

  <main id="main" class="{% block main_class %}main{% endblock %}">
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' %}

  {% block after_footer %}
  <a href="#!" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% block vendor_js %}
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/aos/aos.js' %}"></script>
  <script src="{% static 'assets/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  {% endblock %}
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/header.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
